{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<h1 style="color: white; text-align: center; ">Quem somos?</h1>

<div style="text-align: center;">
    <img style="border-radius: 50%; max-width: 300px; margin: 10px;" src="../static/assets/img/Lucas.jpeg"  alt="...">
    <img style="border-radius: 50%; max-width: 300px; margin: 10px" src="../static/assets/img/Marcos.png"  alt="...">
</div>
<div class="container text-left text-md-left">
    
    <div class="row">

      <div class="col-md-4 mx-auto">

        <h6 style="color: white" class="font-weight-bold text-uppercase mt-3 mb-4"><strong>Quem somos?</strong> </h6>
        <p  style="text-align: justify; color: white">Somos alunos do 4º ano de informática vespertino, e viemos por meio desse site mostrar todo o nosso conhecimente adquirido até agora. Nosso site é especializada em vendas de jogos para nossos clientes</p>

      </div>
      
      <hr class="clearfix w-100 d-md-none">
                
    </div>
  </div>

 <hr>






{% endblock conteudo %}